* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
/* helpers */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* /helpers */

/* Header */
.header-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 62px;

  background-color: #323232;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;

  width: 75px;
  height: 50px;

  background-image: url('../imgs/5.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
.header__text {
  display: none;
}
.header__title {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  margin: 0;

  color: #2eb398;
}
.header__mobile-nav {
  padding: 8px;

  cursor: pointer;
}
.header__mobile-nav span {
  display: block;

  width: 20px;
  height: 2px;

  background-color: #fff;
}
.header__mobile-nav span:not(:last-child) {
  margin-bottom: 4px;
}
.header__nav {
  position: absolute;
  top: 100%;
  right: 0;

  width: 150px;
  padding: 8px;

  transition: all 500ms;
  transform: translateX(150px);

  background-color: #323232;
}
.header__nav--open {
  transform: translateX(0);
}
.nav {
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid #2eb398;
}
.nav__item a {
  display: block;

  padding: 8px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}
/* /Header */

main {
  padding-top: 24px;
}
/* image filter */
.image-filter {
  padding: 8px;

  text-align: center;
}
.image-filter__input {
  padding: 4px 8px;

  border: 1px solid #2eb398;
  border-radius: 5px;
}
/* /image filter */
.image-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  width: 120px;
  height: 120px;
  margin: 10px;

  cursor: pointer;

  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

/* editor */
.back-to {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  padding: 0 8px 0 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  color: #fff;
  border: none;
  background-color: #2eb398;

  line-height: 32px;
}
.back-to::before {
  padding: 0 8px;

  content: '\2190';

  background-color: #ec9c0c;
}
.control {
  padding: 8px;

  text-align: center;
}

.control__input {
  display: block;

  width: 100%;
  padding: 4px 8px;

  border: 1px solid #292929;
}
