@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MavenPro-Regular.ttf');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lato-Regular.ttf');
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1020px;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 10px;
  padding-left: 10px; */
}
/* helpers */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.text-right {
  text-align: right;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.link {
  text-decoration: none;
}
/* /helpers */

/* Header */
.header-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 62px;

  background-color: #323232;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.header__logo {
  display: inline-block;

  width: 75px;
  height: 50px;

  background-image: url('../imgs/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.header__text {
  display: none;
}
.header__title {
  display: flex;
  /* justify-content: center; */
  align-items: center;

  margin: 0;

  color: #2eb398;
}
.header__mobile-nav {
  padding: 8px;

  cursor: pointer;
}
.header__mobile-nav span {
  display: block;

  width: 20px;
  height: 2px;

  background-color: #fff;
}
.header__mobile-nav span:not(:last-child) {
  margin-bottom: 4px;
}
.header__nav {
  transition: all 500ms;
  position: fixed;
  width: 200px;
  height: fit-content;
  top: 62px;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  right: 0;
  background-color: #323232;
  transform: translate3d(200px, 0, 0);
}
.header__nav--open {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.nav {
}
.nav__item:not(:last-child) {
  border-bottom: 1px solid #2eb398;
}
.nav__item a {
  display: block;

  padding: 8px;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
}
/* /Header */

main {
  padding-top: 24px;
}
/* image filter */
.image-filter {
  padding: 8px;
  text-align: center;
}
.image-filter__input {
  padding: 4px 8px;

  border: 1px solid #2eb398;
  border-radius: 5px;
}
/* /image filter */
.image-container {
  /* position: relative;
  margin: 0 auto;
  width: 90%; */
  margin: 3rem auto;
  padding: 1rem 0 2.4rem;
  text-align: center;
  max-width: 50rem;
}
.image__item {
  width: 10rem;
  height: 10rem;
  position: relative;

  /* Default - simple fallback when no CSS Grid support */
  display: inline-block;
  margin: 0.4rem;
}
/* .image__item:nth-child(3n + 2) {
  margin: 0 1%;
}
.image__item:nth-child(6n + 4),
.image__item:nth-child(6n + 5),
.image__item:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
.image__item:nth-child(6n + 4) {
  margin-left: 0.5%;
} */

.image__hexagon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 0.2s;
  clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}
.image__hexagon:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
}

/* editor */
.editor-container {
  background-color: #404040;
}
.meme {
  max-width: 100%;
}
.back-to {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 32px;
  margin-bottom: 16px;
  padding: 0 8px 0 0;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  color: #fff;
  border: none;
  background-color: #2eb398;

  line-height: 32px;
}
.back-to::before {
  padding: 0 8px;

  content: '\2190';

  background-color: #ec9c0c;
}
.control {
  padding: 8px;

  text-align: center;
}

.control__input {
  display: block;

  width: 100%;
  padding: 4px 8px;

  border: 1px solid #292929;
  background-color: #b9c2c1;
}
.btns-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control__btn {
  padding: 0.5em;
  background-color: #6b6b6b;
  color: #b9c2c1;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1px #000;
  border: none;
}
.control__btn:first-child {
  margin-left: 0;
}
.file-container {
  display: flex;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
.btn--submit {
  background-color: #2eb398;
}

.social-share-btn {
  background: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  user-select: none;
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
}

.upload-container {
  padding: 8px;
  text-align: center;
}
.upload__file {
  display: inline-block;
  margin-bottom: 8px;
}

.keywords-container {
  font-size: 8px;
  background-color: #f09e0c;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.keyword__link {
  text-decoration: none;
  color: #fff;
  padding: 4px 8px;
}

.about-container {
  background-color: #2eb398;
  padding: 16px;
  text-align: center;
}
.about__header {
  font-family: 'Maven Pro', sans-serif;
  color: #d7fcf5;
  font-size: 30px;
  font-weight: 400;
}
.about__tagline {
  color: #20816d;
  font-family: 'Maven Pro';
  font-size: 18px;
  font-weight: 400;
}
.about__text {
  color: #d7fcf5;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}

.contact-container {
  background-color: #323232;
  padding: 16px;
}
.contact__header {
  color: #e0e0e0;
  font-family: 'Maven Pro';
  font-size: 30px;
}
.contact__tagline {
  color: #bebebe;
  font-family: 'Maven Pro Regular';
  font-size: 18px;
}
.contact-form {
}
.contact-form__input {
  height: 38px;
  background-color: #454545;
  border: none;
  margin-bottom: 16px;
  color: #bebebe;
  font-family: Lato;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 8px 16px;
}
.contact-form__submit {
  background-color: #2eb398;
  color: #d7fcf5;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 16px 24px;
}

.info-container {
}
.info__text {
  color: #bebebe;
  font-family: Lato;
  font-size: 12px;
}
.info__text span {
  color: #e0e0e0;
  font-weight: 900;
}
.info__data {
  color: #bebebe;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
}
.info__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.info__data .fas {
  margin-right: 5px;
}
.info__data a {
  text-decoration: none;
  color: #bebebe;
  font-family: Lato;
  font-size: 12px;
  font-weight: 700;
}
.footer-bottom {
  height: 43px;
  background-color: #222222;
  color: #454545;
  font-family: 'Maven Pro';
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.gallery-container {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .header__text {
    display: block;
  }
  .header__mobile-nav {
    display: none;
  }
  .header__nav {
    transform: none;
    position: static;
    flex-grow: 1;
    transition: none;
    display: contents;
  }
  .nav {
    display: flex;
  }
  .nav__item:not(:last-child) {
    border: none;
  }
  .happy-container {
    display: flex;
    justify-content: space-around;
  }
  .upload-container {
    display: flex;
  }
  .keywords-container {
    font-size: 12px;
  }
  .about-container {
    display: flex;
    text-align: left;
  }
  .about__image {
    margin-right: 20px;
  }
  .contact-form {
    display: flex;
  }
  .contact-form form {
    width: 70%;
    margin-right: 16px;
  }
  .info-container {
    width: 30%;
  }
  .editor-container {
    display: flex;
    padding: 16px;
  }
  .control {
    padding: 0 16px;
  }
}

@supports (display: grid) {
  @media (min-width: 17rem) {
    .image-container {
      display: grid;
      max-width: 15rem;
      grid-template-columns: repeat(3, 5rem);
    }
    .image__item {
      grid-column: span 2;
      margin: 0; /* reset */
      margin-bottom: -1.4rem; /* shifting up the items in the next row */
    }
    .image__item:nth-child(even) {
      grid-column: 2;
    }
  }

  @media (min-width: 22rem) {
    .image-container {
      max-width: 20rem;
      grid-template-columns: repeat(4, 5rem);
    }
    .image__item:nth-child(3n + 1) {
      grid-column: 1;
    }
    .image__item:nth-child(3n + 2) {
      grid-column: 3;
    }
    .image__item:nth-child(3n + 0) {
      grid-column: 2;
    }
  }

  @media (min-width: 32rem) {
    .image-container {
      max-width: 30rem;
      grid-template-columns: repeat(6, 5rem);
    }
    .image__item:nth-child(5n + 1) {
      grid-column: 1;
    }
    .image__item:nth-child(5n + 2) {
      grid-column: 3;
    }
    .image__item:nth-child(5n + 3) {
      grid-column: 5;
    }
    .image__item:nth-child(5n + 4) {
      grid-column: 2;
    }
    .image__item:nth-child(5n + 0) {
      grid-column: 4;
    }
  }

  @media (min-width: 42rem) {
    .image-container {
      max-width: 40rem;
      grid-template-columns: repeat(8, 5rem);
    }
    .image__item:nth-child(7n + 1) {
      grid-column: 1;
    }
    .image__item:nth-child(7n + 2) {
      grid-column: 3;
    }
    .image__item:nth-child(7n + 3) {
      grid-column: 5;
    }
    .image__item:nth-child(7n + 4) {
      grid-column: 7;
    }
    .image__item:nth-child(7n + 5) {
      grid-column: 2;
    }
    .image__item:nth-child(7n + 6) {
      grid-column: 4;
    }
    .image__item:nth-child(7n + 0) {
      grid-column: 6;
    }
  }

  @media (min-width: 54rem) {
    .image-container {
      max-width: 50rem;
      grid-template-columns: repeat(10, 5rem);
    }
    .image__item:nth-child(9n + 1) {
      grid-column: 1;
    }
    .image__item:nth-child(9n + 2) {
      grid-column: 3;
    }
    .image__item:nth-child(9n + 3) {
      grid-column: 5;
    }
    .image__item:nth-child(9n + 4) {
      grid-column: 7;
    }
    .image__item:nth-child(9n + 5) {
      grid-column: 9;
    }
    .image__item:nth-child(9n + 6) {
      grid-column: 2;
    }
    .image__item:nth-child(9n + 7) {
      grid-column: 4;
    }
    .image__item:nth-child(9n + 8) {
      grid-column: 6;
    }
    .image__item:nth-child(9n + 0) {
      grid-column: 8;
    }
  }
}
